body {
    width: 256px;
    font-family: Arial;
    margin: 5px;
    font-size: 0.7em;
}
.sectionHeader {
    display: block;
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
    font-size: 1.3em;
}

.property {
    display: block;
    padding-top: 5px;
}

.key {
    display: inline-block;
    width: 125px;
    text-align: right;
    padding-right: 5px;
}

.value {
    display: inline-block;
}

.wide {
    display: block;
    width: 100%;
    padding: 10px;
}
