body {
    font-family: Arial;
    margin: 0;
    font-size: 1em;
    width: 400px;
}

.container {

}

.entry {
    padding: 5px;
    width: 100%;
}

.entry .name {
    width: 341px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 22px;
    height: 22px;
    vertical-align: bottom;
}

.entry .copy {
    display: inline-block;
    width: 50px;
    color: rgba(255,255,255,0.87);
    background-color: rgba(16,108,200,0.77);
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.6em;
    text-align: center;
    cursor: pointer;
    line-height: 22px;
    height: 22px;
    vertical-align: bottom;            
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.entry .copy:hover{
    background-color: rgba(16,108,200,1);
}
.entry .copy.copied {
    background-color: rgba(32, 190, 97, 1);
    color: rgba(255,255,255,1);
}

#copy-box {
    z-index: -999999;
    position: absolute;
    left: -999999px;
}
.error {
    display: none;
}
